<% if @badge_placement_config && (@badge_placement_config.configured? || @badge_placement_config.award_only?) %>
  <ul class='nav nav-pills' style='margin-bottom: 5px; margin-top: 25px;'>
    <li id='current_students'>
      <a href="#">Current Students</a>
    </li><li id='awarded_students'>
      <a href="#">Awarded Students</a>
    </li>
  </ul>
  <table id="badges" class="table table-bordered table-striped" style='margin: 0 0 15px 0;' data-badge_config_id="<%= @badge_config_id %>" data-badge_placement_config_id="<%= @badge_placement_config_id %>">
    <thead>
      <tr>
        <th>Student</th>
        <th>Earned</th>
        <th>Issued</th>
    </thead>
    <tbody>
    </tbody>
  </table>
<% end %>
