<h2><a href="/"><img src="<%= @org.settings['image'] || "/organizations/default.png" %>" alt=""/></a> Credentials accepted!</h2>
<div class="row">
  <span class="span6">
    <p>
    You can use the following credentials to configure this app for
    use in your course:
    </p>
    <dl>
      <dt>Key:</dt><dd><%= @conf.value %></dd>
      <dt>Secret:</dt><dd><%= @conf.shared_secret %></dd>
    </dl>
    <ol id="instructions">
      <li>
        <a href="/canvabadges.xml">Copy this XML link</a> and pick "By URL" as 
        the configuration type to add as a new external tool in Canvas (use the key
        and secret above for configuration)
      </li>
      <li>
        If you're an admin, add <a href="/canvas_profile_badges.js">this javascript file</a>
        to your global Canvas JavaScript to make badges appear on user profiles.
      </li>
      <li>
        Add Content to a module in Canvas. Pick External Tool, then Canvabadges. Make sure
        to give the badge a better name.
      </li>
      <li>
        Open the badge link as a teacher/admin. You can configure details about the badge and
        define completion criteria. Badge completion can be based on final grade (leave at 0
        to ignore) or module completions(s).
      </li>
      <li>
        <em>NOTE FOR OPEN SOURCE USERS:</em> If you are running your own instance of
        Canvas (i.e. not Canvas Cloud hosted by Instructure) then you'll need to contact
        <a href="<%= BadgeHelper.issuer['owner_url'] %>">the Canvabadges admin</a> about 
        an additional configuration step that's
        necessary before everything will work.
      </li>
    </ol>
  </span>
  <span class="span6">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/N-utskPWtG0?rel=0" frameborder="0" allowfullscreen></iframe>
  </span>
</div>
  <hr/>
<p>
  Note about credits: there's a more advanced option in badge configuration
  not showin in the screencast called "credits". Basically it allows multiple
  paths for earning the badge. You can use credits to say you either need 90%
  in the class (say, 9 credits) or you need to finish three of the four modules
  (3 credits each) to earn the badge (9 credits needed to earn the badge). You 
  can completely ignore this if you want :-).
</p>
<p>
  This is a site that I put together in my free time
  to test out the idea badges inside of Canvas.
  If you copy the credentials above you're agreeing to
  use the site at your own risk. It most definitely will
  not work in any LMS other than Canvas.
</p>
