<div style="width: 500px; margin: 0 auto;">
<h2><img src="/badges/default.png" alt=""/> Canvabadges are cool</h2>
<p>
Canvabadges let you award badges to students in courses based on their total
grade in the course and their completion of specified modules. You can also put
a manual approval step on as well that requires your final sign-off before they
receive the badge.
<p>
<p>Put it all together and you've got some lightweight course credentials!</p>
<p>Once students earn badges they can move them to their Mozilla backpack, or
make them public within Canvabadges. In addition, if you include 
<a href="/canvas_profile_badges.js">this javascript file</a> in your
global javascripts then the badges students opt to make public will start
appearing on their profile pages within your courses.<p>
</div>