<h2><img src="/badges/default.png" alt=""/> Canvabadges are cool</h2>
<div class="row">
  <span class="span6">
    <p>
      Canvabadges let you award badges to students in courses based on their total
      grade in the course and their completion of course modules. You can also put
      a manual approval step on as well that requires your final sign-off before they
      receive the badge.
    </p>
    <p>
      Put it all together and you've got some lightweight course credentials!
      Badges can be added to a <a href="http://openbadges.org/">Mozilla Backpack</a>,
      or you can drop <a href="/canvas_profile_badges.js">this javascript file</a> in your
      global Canvas scripts to let users add them to their Canvas 
      profiles.
    </p>
    <ol id="instructions">
      <li>
        <a href="/login" class="btn btn-primary btn-large">login using the Twitters</a> to get a key and secret
      </li>
      <li>
        <a href="/canvabadges.xml">Copy this XML link</a> and pick "By URL" as 
        the configuration type to add as a new external tool in Canvas
      </li>
      <li>
        If you're an admin, add <a href="/canvas_profile_badges.js">this javascript file</a>
        to your global Canvas JavaScript to make badges appear on user profiles.
      </li>
    </ol>
  </span>
  <span class="span6">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/N-utskPWtG0?rel=0" frameborder="0" allowfullscreen></iframe>
  </span>
</div>
  <hr/>
  <p>
    Lots of schools will probably want to host their 
    own badge issuing server, so the domain matches their school
    (i.e. badges.utah.edu instead of canvabadges.herokuapp.com).
    If you're one of those schools, you can run 
    <a href="https://github.com/whitmer/canvabadges">the code</a>
    yourself.
  </p>
  <p>
    If that's too heavy for you, you can use this 
    site to set up lightweight badges, or contact 
    <a href="<%= BadgeHelper.issuer['owner_url'] %>">the site's
    owners</a> to get a slightly more official-looking certificate
    for your issued badges.
  </p>
  <a href="http://openbadges.org/"><img src="/OpenBadges_Insignia_WeIssue.png" alt="We issue open badges"/></a>
