<h2><img src="<%= @org.settings['image'] %>" alt=""/> <%= @org.settings['name'] %> Badges</h2>
<div class="row">
  <span class="span6">
    <p>
      Instructure awards badges to internal employees for completing required
      training. We also offer badges to those outside the company who complete
      training for Canvas-related work such as:
    </p>
    <ul>
      <li><a href="https://canvas.instructure.com/courses/785215">Learning to use the Canvas API</a></li>
      <li><a href="https://canvas.instructure.com/courses/785215">Learning to use LTI</a></li>
      <li>more to come!</li>
    </ul>
    <p>
      Each badge is offered as part of a course created or taught by Instructure.
      As you complete lessons within the course you'll make progress toward
      earning the badge. Some badges will require custom submissions in addition
      to lesson completions, and your submission will be reviewed for
      completeness.
    </p>
    <p>
      Once you've earned a badge you can share it with others by making
      it public within Canvabadges, or copy it to your 
      <a href="http://openbadges.org/">Mozilla Backpack</a>. If
      enabled by an administrator, badges may also appear on your profile
      within Canvas.
    </p>
  </span>
  <span class="span6">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/N-utskPWtG0?rel=0" frameborder="0" allowfullscreen></iframe>
  </span>
</div>
<hr/>
<a href="http://openbadges.org/"><img src="/OpenBadges_Insignia_WeIssue.png" alt="We issue open badges"/></a>
