<h2>Session Fixer</h2>

<% if session['has_session'] %>
  <p>Looks like the problem has been fixed! Please close this window,
  reload your web browser
  and try launching the resource again.</p>
<% else %>
  <p>Hm, there's still something wrong. You may have cookies disabled or there
  may be an additional problem. Please contact your account administrator
  or the site owner for troubleshooting.</p>
<% end %>
